body {
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.hero-section {
    margin-top: 5px;
    text-align: center;
    padding: 60px 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section h1 {
    font-size: 60px;
    color: purple;
    text-shadow: 3px 3px 10px #000;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 24px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
    text-shadow: 1px 1px 3px #000;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 38px;
    }

    .hero-section p {
        font-size: 18px;
    }
} 
